<p id="notice"><%= notice %></p>

<p>
  <b>Ip address:</b>
  <%= @survey.ip_address %>
</p>

<p>
  <b>Cookie:</b>
  <%= @survey.cookie %>
</p>

<p>
  <b>Email:</b>
  <%= @survey.email %>
</p>

<p>
  <b>Purpose:</b>
  <%= @survey.purpose %>
</p>

<p>
  <b>Investment amt:</b>
  <%= @survey.investment_amt %>
</p>

<p>
  <b>Years:</b>
  <%= @survey.years %>
</p>

<p>
  <b>Reg contributions:</b>
  <%= @survey.reg_contributions %>
</p>

<p>
  <b>Withdrawels:</b>
  <%= @survey.withdrawels %>
</p>

<p>
  <b>How much:</b>
  <%= @survey.how_much %>
</p>

<p>
  <b>How often:</b>
  <%= @survey.how_often %>
</p>

<p>
  <b>Status:</b>
  <%= @survey.status %>
</p>

<p>
  <b>Risk1:</b>
  <%= @survey.risk1 %>
</p>

<p>
  <b>Risk2:</b>
  <%= @survey.risk2 %>
</p>

<p>
  <b>Risk3:</b>
  <%= @survey.risk3 %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
